:root {
    --main-background-color: #fff;
    --primary-text-color: #212121;
    --accent-color: #2196F3;
}

body {
    background-color: var(--main-background-color);
    color: var(--primary-text-color);
    font-family: roboto, sans-serif;
}

.logo {}

.nav-list .link {
    color: var(--primary-text-color);
    font-family: roboto;
    font-weight: 500;
    line-height: 1.14;
    font-size: 14px;
    text-decoration: none;
}

.nav-list .link:hover,
.nav-list .link:focus {
    color: var(--accent-color)
}

.contact-link-mail {
    color: var(--accent-color);
}

a[href="mailto:info@devstudio.com"] {
    color: var(--accent-color);
    font-family: roboto;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    line-height: 1.14;
}

a[href="tel:+380961111111"] {
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    font-family: roboto;
    text-decoration: none;
    line-height: 1.14;
}

.link-type a {
    background-color: #F5F4FA;
    padding: 5px;
    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;
    cursor: pointer;
    color: var(--primary-text-color);
    text-decoration: none;

}

.link-type a:hover,
.link-type a:focus {
    color: var(--main-background-color);
    background-color: var(--accent-color);
}

a[href="./portfolio.html"]:active {
    color: var(--accent-color);
}

.features-list {
    background-color: var(--main-background-color);
}

.link-slider {}

.title-slider {
    font-family: roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}

.text-slider {
    font-family: roboto;
    font-style: normal;
    font-size: 16px;
    line-height: 1.8;
    color: #757575;
}

footer {
    background-color: #2F303A;
    color: #fff;
}

.footer-logo {
    font-family: raleway;
}

.adress-link {
    color: #fff;
    letter-spacing: 0.03em;
    line-height: 1.7;
    font-size: 14px;
    text-decoration: none;
    font-style: normal;
    font-family: roboto;
}

a[title="мобільний"] {
    letter-spacing: 0.03em;
    line-height: 1.7;
    font-size: 14px;
    text-decoration: none;
    font-style: normal;
    font-family: roboto;
    color: rgba(255, 255, 255, 0.6);
}

a[title="пошта"] {
    letter-spacing: 0.03em;
    line-height: 1.7;
    font-size: 14px;
    text-decoration: none;
    font-style: normal;
    font-family: roboto;
    color: rgba(255, 255, 255, 0.6);
}